#!/bin/bash

# General
alias st='subl'
alias cl='clear'
alias l='ls'
alias ..='cd ..'

# Application Arguments
alias tmux='tmux -2' # force 256 colors 
alias ll='ls -alh'
alias la='ls -a'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ag='ag --hidden'

# Handy
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

