# Git Tracking 101
#  While '*' ignores all files/directories, '*/' ignores only directories
#  and '/*' ignores all files/directories in the root folder
#  Git doesn't track empty folders
#  Using the prefix "!" any matching file excluded by a previous pattern will
#  become included again. It is not possible to re-include a file if a parent
#  directory of that file is excluded.

/*
!.gitignore

!.init_pack/

!.vimrc
!.bash_aliases
!.bash_user
!.tmux.conf
