*
!.gitignore

!.vimrc
!.bash_aliases
!.bash_user
!.tmux.conf

!.kde/share/config/dolphinrc
!.kde/share/apps/dolphin/dolphinui.rc
!.kde/share/config/okularrc
!.kde/share/apps/okular/part.rc
!.kde/share/config/kolourpaintrc
