# Convenient incremental search
# http://www.behrooz.xyz/home/tips-and-tricks/the-blog/amoreconvenientincrementalsearchinterminalbashlinux
"\e[A": history-search-backward
"\e[B": history-search-forward
